body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

#priceh4 {
    padding-top: 5px;
    float: left;
}

#btnBuy {
    float: right;
}

#divCard {
    padding-top: 40px;
}

.jumbotron {
    width: 100%;
    height: 400px;
    background-image: url("../Images/backgroundimg.jpg");
    background-size: cover;
    background-color: Black;
}


#h1Jumbo {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lead {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#buyMore {
    margin-right: 10px !important;
}

#rowProducts {
    display: flex;
    flex-wrap: wrap;
}

#discountCodeBtn {
    margin-top: 12px;
}

.field-validation-valid {
    display: none;
}

#filterList {
    margin-right: 80px;
}

#brandFilterText {
    margin-top: 30px;
    margin-bottom: -10px;
}

#categoryFilterText {
    margin-top: 30px;
    margin-bottom: -10px;
}

#success {
margin-bottom: 20px;
}

.myDivClass {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.ErrorClass {
    font-size: 70px;
    margin-bottom: -20px;
}

.ErrorButtonClass{
    margin-top: 35px;
    background-color: green;
    color: black;
    width: 100px;
    font-size: 40px !important;
}

