body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

#priceh4 {
    padding-top: 5px;
    float: left;
}

#btnBuy {
    float: right;
}

#divCard {
    padding-top: 40px;
}

.jumbotron {
    width: 100%;
    height: 400px;
    background-image: url("../Images/backgroundimg.jpg");
    background-size: cover;
    background-color: Black;
}

.card-text {
    height: 35px;
}

#h1Jumbo {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lead {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#buyMore {
    margin-right: 10px !important;
}

#rowProducts {
    display: flex;
    flex-wrap: wrap;
}

#discountCodeBtn {
    margin-top: 12px;
}

.list-group {
    margin-left: -300px;
    margin-top: -20px;
    width: 300px;
}