@model string
@{
    ViewBag.Title = "CheckOutSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ordre gennemført!</h2>
<div class="col-md-12" id="success">
    <div class="col-md-3">
        <img src="~/Images/successful.png" alt="Success">
    </div>
    <div class="col-md-9">
        <h4>Dit køb er gennemført og har fået ordrenummer: @Model</h4>
        @using (Html.BeginForm("Index", "Home"))
        {
            <button type="submit" class="btn btn-success">Gå tilbage til forsiden!</button>
        }
    </div>
</div>

